$color-primary: #4eb3e3;
$color-secondary: #f8cc5d;

$text-primary: #1f343e;
$text-primary-inverted: #ffffff;
$text-primary-muted: #6d7a80;
$text-secondary: #434a54;

$bg-primary: #f8f4f9;
$bg-secondary: #45565e;

$ui-ok: #8cd943;
$ui-danger: #ed6f82;

$border-primary: #1f343e;
